#all,.today>.card {
    background-color: #013b45;
    color: #c4dfe6;
}

.row > div > .card{
    background-color: #013b45;
    color: #c4dfe6;
}
.navbar,.navbar>div>a{
    background-color:#013b45 ;
    color: #c4dfe6;
}

#city{
    color: #c4dfe6;
    border: #ea6e4b solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 50%;
    margin: auto;
}